*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    /* background: #929292; */
    color: rgb(0, 0, 0);
}


/*-----------NavBar----------*/
.logo{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
    padding: 10px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
    
}



.nav_list{
    display: flex;
    column-gap: 40px ;
    justify-content: center;
    
}

.nav_item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav_link{
    color: black;
    font-size: 20px;
    transition: all 0.4s;
}
.nav_link:hover, .nav_link:focus{
    color: rgb(198, 27, 27);
    font: 15px;
    transition: all 0.4s;
}
.hamburger, .hamburger1{
    display: none;
    cursor: pointer;
}
.bar{
    height: 3px;
    width: 27px;
    background-color: black;
    margin: 5px 0;
    opacity: 0.8;
}
.bar1{
    height: 3px;
    width: 7px;
    background-color: black;
    margin: 1px 0;
    opacity: 0.8;
}

.nav--open{
    transform: translate(0) !important;
}

.navbar a, .profile a, .bb a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3;
}

.navbar a:hover, .profile a:hover, .navbar a.active, .bb a:hover{
    color: rgb(198, 27, 27);
}



/*------------Homw Content-------------*/
.home{
    height: 100vh;
    /* background: url('20230615_225424.jpg') no-repeat; */
    background-size:cover;
    background-position:center ;
    display: flex;
    padding: 0 10%;
    align-items: center;
}

.home_content{
    max-width: 600px;
}

.home_content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home_content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(198, 27, 27);
}

.home_content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home_content .btn_box{
    display: flex;
    width: 350px;
    height: 50px;
    /* background-color: aqua; */
    justify-content: space-between;
}

.btn_box a{
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(198, 27, 27);
    justify-content: center;
    border: 2px solid rgb(198, 27, 27);
    border-radius:  8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.btn_box a:hover{
    background: transparent;
    color: rgb(0, 0, 0);
}


/*----------------Table List---------------*/
.list{
    position: relative;
    height: 100%;
    padding: 0 10%;
    margin-bottom: 20px;
    /* background-color: #a30808; */
}
.donor_list{
    border-radius: 5px;
    box-shadow: -4px -3px 45px 10px rgba(101, 101, 101, 0.35);
}

.list h1{
    font-size: 10vw;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}
table{
    width:100%;
    border-collapse: collapse;
}
table, th, td 
{
    border-bottom: 1px solid black;
}


td, th{
    padding: 20px;
    height: 70px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
th{
    background-color: rgb(198, 27, 27);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
   
}
tr:hover{

    background-color: rgb(182, 182, 182);
}


/*------------Footer------------*/
.social{
    position: absolute;
    bottom: 40px;
    width: 200px;
    right: 0;
    left: 0;
    margin: auto;
    /* background-color: aqua; */
}

.social a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: rgb(198, 27, 27);
    border: 2px solid rgb(198, 27, 27);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.social a:hover{
    background: transparent;
    border: 2px solid rgb(198, 27, 27);
    color: rgb(0, 0, 0);
}

footer{
    position: relative;
    width: 100%;
    margin-top: 150px;
    height: 100px;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*-------------dashboard-----------*/
.dashboard_container{
    position: relative;
    display: flex;
    flex-direction: row;
    top:80px;
    left: 0;
    width:70%;
    margin: auto;
}
.dashboard{

    width: 20%;
    min-width: 15%;
    height: fit-content;
    margin: 10px; 
}
.dashboard , .info{
    box-shadow: -4px -3px 45px 10px rgba(181, 181, 181, 0.35);
    border-radius: 10px;
    overflow: auto;
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-bottom: 2px solid black;
}

.profile-img{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
}

.upload-img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    min-width: 100px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(172, 18, 18);
    color: white;
    border-radius: 20px;
    margin: 25px 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}


.side-list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: fit-content;
    
}
.side-list a{
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(68, 68, 68);
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.side-list a:hover{
    color: rgb(172, 18, 18);
}
.side-list a i{
    padding: 9px;
}
.info{
    width: 75%;
    height: 800px;
    margin: 10px;
}

.head{
    position: relative;
    margin: auto;
    top: 20px;
    width: 300px;
    justify-content: center;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}


/*---form---*/

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: -4px -3px 45px 10px rgba(181, 181, 181, 0.35);
    background-color: rgb(255,255,255);
}
.container .heading{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #333;
}

.container form{
    position: relative;
    min-height: 490px;
    margin-top: 16px;
}
.container form .details{
    margin-top: 30px;
}
.container form .title{
    display: block;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

form .fields .input_field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 10px 4px;
}
.input_field label{
    font-size: 16px;
    font-weight: bold;
    color: #2e2e2e;
}
.input_field input, .input_field select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #797979;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}


.input_field input:is(:focus,:valid)
{
    box-shadow: -4px -3px 45px 10px rgba(181, 181, 181, 0.35);
}

.input_field input[type="date"]
{
    color: #707070;
}
.input_field input[type="date"]:valid
{
    color: #333;
}

.container form button input, .container form button select  {
    text-decoration: none;
}
.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(172, 18, 18);
    color: white;
    border-radius: 5px;
    margin: 25px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 14px;
}


form button:hover, .upload-img:hover{
    background-color: transparent;
    color: black;
    border: 1px solid rgb(172, 18, 18);
    padding: -1px;
}




@media (max-width: 650px) {
    .nav{
        position: fixed;
        top: 80px;
        left: -18px;
        width: 100%;
        padding: 10px 0 25px;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        background: rgba(255,255,255,0.5);
        backdrop-filter: blur(8px);
    }

    .side-list{
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        height: 0;
    }

    .nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        
    }

    .nav_item{
        width: 100%;
        border-bottom: 2px solid rgb(68, 68, 68);
        text-align: center;
    }

    .nav_link{
        font-size: 14px;
    }

    .hamburger, .hamburger1{
        display: block;
    }
    .hamburger1{
        position: relative;
        top: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 1050px) {
    form .fields .input_field{
        display: flex;
        width: calc(100% / 1 - 15px);
        flex-direction: column;
        margin: 10px 4px;
    }
    .dashboard_container{
        display: flex;
        flex-direction: column;
    }
    .dashboard,.info{
        width: 95%;
    }
    
}

